*{
    margin: 0;
    padding: 0;
}
.manu_container{
    background-color: rgb(59, 58, 58);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.logo , img {
    width: 110px ;
    height: 25px;
}
.manus{
    color:white
}
.manus,  li{
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;

}
.manus{
    display: flex;
    justify-content: space-around;
    
}
.manus :hover{
    color: red;
}
.banner_container{
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.banner_text{
    color: white;
}
.banner_text , p{
    margin: 10px 0px;
}
.banner_photo{
    height: 300px;
    width: 300px;
}
.title{
    font-size: 50px;
}
.btn{
    background-color: red;
    padding: 10px 15px;
    border: none;
   margin-top: 10px;
}
.about_container{
    display: flex;
    justify-content: space-between;

    height: 350px;
    padding: 0px 150px;
}
.photo{
    width: 300px;
    height: 300px;
}
.about_tittle{
    text-align: center;
    margin: 50px 0px;
}
.about_text{
    margin-top: 10px;
}













.About_Us_container{
    background-image: url('./images/background.png'),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);
    height: 80vh;
    text-align: center;
    color: white;
    
}

.box{
    display: flex;
    justify-content: space-around;
    
    height: 100%;
   

}
.box1{
  box-shadow: 20px 20px 20px  rgba(180, 170, 170, 0.233);
    background-color: rgba(7, 7, 7, 0.795);
    height: 300px;
    width: 230px;
    margin: 1px 150px;
    padding: 10px;

    
}
.icon_photo{
    height: 100px;
    width: 70px;
}
.box1,h2,p,button{
    margin: 15px 0px ;
}
.t_p{
    margin-top: 100px;
}
.btn-ser{
    background-color: rgb(63, 62, 62);
    margin: 5px;
    padding: 5px 10px;
    border: none;
    color: white;
   
}