*{
    margin: 0;
    padding: 0;
}
.manu_container{
    background-color: rgb(59, 58, 58);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.logo , img {
    width: 110px ;
    height: 25px;
}
.manus{
    color:white
}
.manus,  li{
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;

}
.manus{
    display: flex;
    justify-content: space-around;
    
}
.manus :hover{
    color: red;
}
.banner_container{
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.banner_text{
    color: white;
}
.banner_text , p{
    margin: 10px 0px;
}
.banner_photo{
    height: 300px;
    width: 300px;
}
.title{
    font-size: 50px;
}
.btn{
    background-color: red;
    padding: 10px 15px;
    border: none;
   margin-top: 10px;
}
.about_container{
    display: flex;
    justify-content: space-between;

    height: 300px;
}
.photo{
    width: 300px;
    height: 200px;
}
.about_tittle{
    text-align: center;
    margin: 50px 0px;
}
.about_text{
    margin-top: 10px;
}












.About_Us_container{
    background-image: url('./images/background.png'),linear-gradient(45deg,rgb(5, 5, 5), #2e2e2e);
}